{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="d-flex align-items-start">
        <div class="card ms-2" style="width: 18rem;">
            <div class="square-box card-img-top">
                {% if object.profile_picture %}
                    <img src="{{ object.profile_picture.url }}"
                         alt="Profile picture"
                         class="img-fluid">
                {% else %}
                    <img src="{% static 'images/default-profile-picture.jpg' %}" alt="Profile picture"
                         class="img-fluid">
                {% endif %}
            </div>
            <div class="card-body">
                {% if object.first_name and object.last_name %}
                    <h5 class="card-title">{{ object.first_name }} {{ object.last_name }}</h5>
                {% else %}
                    <h5 class="card-title">None</h5>
                {% endif %}
                <p class="card-text">{{ object.about_me }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Date of Birth:</strong> {{ object.date_of_birth }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
                <li class="list-group-item"><strong>Phone Number:</strong> {{ object.phone_number }}</li>
            </ul>
            <div class="card-footer">
                <p class="mb-1">Joined: {{ object.user.date_joined }}</p>
                {% if object.user == request.user %}
                    <a href="{% url 'profile delete' %}" style="text-decoration: none">

                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>

                    </a>
                    <a href="{% url 'profile edit' %}" class="ms-2">

                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="green"
                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>

                    </a>
                {% endif %}
            </div>
        </div>

        <div class="d-flex flex-column align-items-center ms-auto me-auto">
            <h2 style="margin-bottom: 30px;">Projects</h2>
            {% include 'base/project-cards-grid.html' %}
        </div>
    </div>
{% endblock %}