{% extends 'base/base.html' %}
{% block page_content %}

    <div class="d-flex flex-column align-items-center">
        <h2 class="mb-3">Register</h2>
        <form method="post" style="width: 30rem;" class="d-flex flex-column mb-4">
            {% csrf_token %}

            {% if form.errors %}
                <ul>
                    {% for error_list in form.errors.values %}
                        {% for error in error_list %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="form-floating mb-1">
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}">Username</label>
            </div>
            <div id="usernameHelp" class="form-text mb-3">{{ form.username.help_text }}</div>

            <div class="form-floating mb-1">
                {{ form.password1 }}
                <label for="{{ form.password1.id_for_label }}">Password</label>
            </div>
            <div id="pass1Help" class="form-text">{{ form.password1.help_text }}</div>

            <div class="form-floating mb-1">
                {{ form.password2 }}
                <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
            </div>
            <div id="pass2Help" class="form-text mb-4">{{ form.password2.help_text }}</div>

            <input type="hidden" value="{{ next }}" name="next"/>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

{% endblock %}